.tags {
  margin: 6px 0;
}

.tagItem {
  border: 1px solid rgba(0, 0, 0, 0.6);
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border-radius: 2px;
  padding: 2px 5px;
  cursor: pointer;
  opacity: .9;
  margin-right: 5px;

  &:hover {
    opacity: 1;
  }
}
