.line {
  width: 100%;
  border: none;
  color: #e8e8e8;
  background-color: #e8e8e8;
  height: 1px;
  margin-top: 21px;
}

.checkboxContainer {
  display: flex;
}

.checkbox {
  margin-top: 14px;
  margin-right: 12px;
}
