.modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 290px;
  background-color: #fff;
  padding: 10px;
  padding-top: 20px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.message {
  text-align: center;
  font-size: 16px;
  color: tomato;
}
